:root{
    --fuenteHeading: 'PT sans',sans-serif;
    --fuenteParrafos: 'Open sans', sans-serif;
}
/* GLOBALES */
html{
    box-sizing: border-box;
    font-size: 65.5%;
    
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
   /*  line-height: 2cm; */
    margin: 0;
    padding: 0;
}

/* globales */
.container{
    max-width: 120rem;
    /* width: 90%; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin:0;
}

/* .h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
} */
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}

.nav-social a{
    cursor:pointer;
    color: orange;
    /* padding: 5px 10px; */
    /* z-index: 2; */
    border-left: 1px solid orange;
}
.facebook{
    padding: 8px 17px;
}
.youtube{
    padding: 8px 15px;
    border-right: 1px solid orange;
}
.instagram{
    padding: 8px 17px;
}

/*Header Secundario*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    font-size: 1.5rem;
    font-family: Merriweather Sans
}
.nav-contacto{
    display: flex;
    
}
.nav-top{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    padding: 8px 17px;
    border-right: 1px solid orange;
}
.nav-contact-phone{
    border-left:1px solid orange;
}

.nav-top a{
    color:orange;
}
.nav-top span{
    color: #999;
}
.nav-top span:hover{
    color: orange;
}
.nav-social{
    display: flex;
    /* gap: 15px; */ 
}
.nav-social a:hover{
    opacity: .7;
}

@media (max-width: 950px) {
    .nav-contacto a span{
        display: none ;
    }
    .youtube{
        border-right:none ;
    }

}

.menu-btn{
    display: none;
    position: absolute;
    color: white;
    font-size: 27px;
    top: 60px;
    right: 20px;
}

/* navegacion */
.navegation-main{
    background-color: orange;
    font-family: Merriweather;
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.navegation-logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 10px;
}
.navegation-logo img{
    height: 55px;
}
.navegation-links ul{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 23px;
}
.navegation-links a{
    color: white;
}
.navegation-links a:hover{
    border-bottom: 2px solid white; 
}
.navegation-links a.nav-contact{
    color: orange;
    background-color: white;
    padding: 10px 10px;
}


@media (max-width: 950px) {

    .navegation-logo img{
        margin-left: 15px;
    }
    .menu-btn{
        display: block;
    }
    ul.navegation-elements {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        /* transform: translateY(50px);  */
        transition: transform .5s ease-in-out;
    }   

    ul.navegation-elements.show{
        transform: translateX(-20px);
    }

    .navegation-elements li{
        padding: 30px;
    }
    .navegation-elements li a:hover{
        border-bottom: 1px solid orange;
    }

    .navegation-elements li a{
        color: orange;
    }
    .navegation-elements li a.nav-contact{
        background-color: orange;
        color: white;
    }
    .navegation-elements li a.nav-contact:hover{
        opacity:.9;
    }
}
