:root{
    --fuenteHeading: 'PT sans',sans-serif;
    --fuenteParrafos: 'Open sans', sans-serif;
    --colorMain: #ff9000;
    --fuenteMain: Merriweather;
}
/* GLOBALES */
html{
    box-sizing: border-box;
    font-size: 65.5%;
    
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
   /*  line-height: 2cm; */
    margin: 0;
    padding: 0;
}

/* globales */

.container-gb{
    max-width: 120rem;
    
    margin: 0 auto;
}
.container-elements{
    max-width: 115rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin:0;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar{
    text-align: center;
}

.nav-social a{
    cursor:pointer;
    color: orange;
    /* padding: 5px 10px; */
    /* z-index: 2; */
    border-left: 1px solid orange;
}
.facebook{
    padding: 8px 17px;
}
.youtube{
    padding: 8px 15px;
    border-right: 1px solid orange;
}
.instagram{
    padding: 8px 17px;
}

/*Header Secundario*/

.positionFixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-bg{
    background-color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    font-size: 1.5rem;
    font-family: Merriweather Sans;
}
.nav-contacto{
    display: flex;
    
}
.nav-top{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    padding: 8px 17px;
    border-right: 1px solid orange;
}
.nav-contact-phone{
    border-left:1px solid orange;
}

.nav-top a{
    color:orange;
}
.nav-top span{
    color: #999;
}
.nav-top span:hover{
    color: orange;
}
.nav-social{
    display: flex;
    /* gap: 15px; */ 
}
.nav-social a:hover{
    opacity: .7;
}

@media (max-width: 950px) {
    .nav-contacto a span{
        display: none ;
    }
    .youtube{
        border-right:none ;
    }

}

.menu-btn{
    display: none;
    position: absolute;
    color: white;
    font-size: 27px;
    top: 60px;
    right: 20px;
}

/* navegacion */
.navegation-main{
    background-color: var(--colorMain);
    font-family: Merriweather;
   
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.navegation-logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 10px;
}
.navegation-logo img{
    height: 55px;
}
.navegation-links ul{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 23px;
}
.navegation-links a{
    color: white;
}
.navegation-links a:hover{
    border-bottom: 2px solid white; 
}
.navegation-links a.nav-contact{
    color: orange;
    background-color: white;
    padding: 10px 10px;
}
.navegation-links a.nav-contact:hover{
    opacity: .9;
}

@media (max-width: 950px) {
    .navegation{
        height: 55px;
    }

    .navegation h2{
        font-size: 28px;
    }
    .navegation-logo img{
        margin-left: 15px;
        height: 40px;
    }
    .menu-btn{
        display: block;
        top: 50px;
    }
    ul.navegation-elements {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
        padding: 30px;
        opacity: .9;
       /*  z-index: 1; */
        transform: translateX(-400px);
        /* transform: translateY(50px);  */
        transition: transform .5s ease-in-out;
    }   

    ul.navegation-elements.show{
        transform: translateX(-20px);

    }

    .navegation-elements li{
        padding: 30px;
    }
    .navegation-elements li a:hover{
        border-bottom: 1px solid  var(--colorMain);
    }

    .navegation-elements li a{
        color: var(--colorMain);
    }
    .navegation-elements li a.nav-contact{
        background-color: var(--colorMain);
        color: white;
    }
    .navegation-elements li a.nav-contact:hover{
        opacity:.9;
    }
}

/* landingPage */
.container-landing{
    width: 100%;
    margin-bottom: 110px;
}

.container-landing img{
    max-width: 100%;
    margin-top: 110px;
   
}

/* presentacion */
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Merriweather Sans;
    text-align: center;
    margin-bottom:50px;
    
}


.presentation img{
    height: 200px;
    margin-bottom: 110px;
    transition: all 300ms;
    position: relative;
}
.presentation img:hover{
    transform: scale(1.25);
}

.presentation h2,p{
    text-transform: uppercase;
    padding: 10px 10px;
}

@media (max-width: 950px) {
    .container-landing img{
       
        margin-top: 90px;
    }
    .container-landing{
        margin-bottom: 50px;
    }
    .presentation img{
        height: 150px;
        margin-bottom: 50px;
    }
    .presentation h2{
        font-size: 25px;
    }
}

/* menu */

/* .menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    
} */

.col h1{
    font-family: Merriweather;
}
.container-elements h1{
    margin: 20px 0 60px 0;
}


/* Carusel */
.carousel{
    min-height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
}
.carousel .carousel-item{
    width: 700px;
    height: 400px;
    user-select: none;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    /* z-index: -1; */
    border-radius: 14px;
}
.carousel .indicators .indicator-item{
    background-color: black;
    color: red;
}

@media (max-width: 950px) {
    .carousel{
        min-height: 200px;   
    }
    .carousel .carousel-item{
        width: 500px;
        height: 300px;
        user-select: none;
    }
    .col h1{
        font-size: 28px;
    }
}
/* @media (max-width: 700px) {
    .carousel{
        height: 250px;
        width: 400px;  
        
    }
    .carousel .carousel-item{
        width: 400px;
        height: 200px;
        user-select: none;
    }
   
} */

/* Ambientes */

.envionment-gb h2{
    margin-bottom: 90px;
    font-family: var(--fuenteMain);
}
.envionment{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    font-family: var(--fuenteMain);
    
}

.envionment img{
    padding: 10px;
    border: 2px solid white;
    transition: all 300ms;
    box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);
    
}
.envionment img:hover{
    transform: scale(1.1);
}

@media (min-width: 750px) {
    .envionment{
        grid-template-columns: repeat(2, 1fr);        
    }
    .envionment .img2 {
        grid-column: 2 / 2;
        grid-row: 2 / 2 ;
      }
    .envionment-text{
        margin: 20px;
      }
      .envionment img{
        padding: 15px;
        box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 25px 0px rgba(0,0,0,0.75);   
    }
}

/* botone del menu */
.menu-txt{
    font-family: var(--fuenteMain);
}
.menu-btns{
    display: flex;
    justify-content: center;
    gap: 58px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding: 17px 0;
    margin-bottom: 30px;
}

.menu-btns  li{
    color: var(--colorMain);
    font-size: 25px;
    cursor: pointer;
}

.bg-whole-plate{
/*     border-bottom: 2px solid orange;*/
    color: brown;
}
.bg-middle-plate{
    color: brown;
   /*  border-bottom: 2px solid orange; */
}
/* texto de los pltos */

.whole-middle{
    display: flex;
    justify-content: right;
    gap: 15px;
}
.whole-middle h3{
    font-size: 20px;
    font-family: var(--fuenteMain);
}
.container-elements-dish{
    max-width: 70rem;
    margin: 0 auto;
    width: 90%;
    visibility: visible;
}

.menu-dish-oneline{
    display: flex;
    font-family: var(--fuenteMain);
    /* justify-content: center; */
}

.menu-dish-oneline h5{
    font-size: 25px;
}
.menu-linePun{
    position: relative;
    display: table-cell;
    border-bottom: 1px dashed #999;
    width: 67%;
    height: 30px;
}
.show-menu{
    visibility: hidden;
}
/* .menu-dish-text{
    position: relative;
    top: -1400px;
    left: 0;
    margin-bottom: 500px;
} */
.menu-dish-txt{
    margin-bottom: -290px;
}

.menu-dish-txt-middle{
    display: block;
    position: relative;
    top: -700px;
    left: 0;
    margin-bottom: -660px;
}
.tamanio{
    margin-bottom: -360px;
}

/* Colocando espacios a los Platos de los precios*/
.linePun-dish-pique{
    width: 70%;
    height: 3px;
    border-bottom: 1px dashed #999;
}
.dish-pique{
    width: 67.5%;
}
.dish-piqueE{
    width: 55.6%;
}
.dish-charque{
    width: 75%;
}
.dish-planchita{
    width: 75.5%;
}
.dish-picanteL{
    width: 62.5%;
}
.dish-picanteP{
    width: 65.5%;
}
.dish-picanteM{
    width: 68.5%;
}
.dish-lambreado{
    width: 62%;
}
.dish-picanteC{
    width: 63.5%;
}
.dish-chankaC{
    width: 62.7%;
}
.dish-pato{
    width: 71.8%;
}
.dish-patoD{
    width: 59.7%;
}
/*Tmanos para FONDOS*/

.dish-lapping{
    width: 75%;
}
.dish-lomoP{
    width: 65%;
}
.dish-lomoM{
    width: 65.7%;
}
.dish-lomoC{
    width: 56.5%;
}
.dish-costillar{
    width: 64%;
}
.dish-brazuelo{
    width: 64%;
}
.dish-milanosaL{
    width: 63%;
}
.dish-milanesaP{
    width: 64.5%;
}
.dish-chankaP{
    width: 66.5%;
}

.menu-dish-oneline h5{
    color: brown;
}
.dish-description{
    font-family: var(--fuenteMain);
    font-size: 20px;
}

.menu-dish-price{
    display: flex;
    align-items: center ;
    gap: 35px;
}
.menu-dish-price h3{
    color: var(--colorMain);
    font-size: 22px;
}
@media (max-width:800px) {
    .menu-dish-txt{
        margin-bottom: -280px;
     }
 
     .menu-dish-txt-middle{
         display: block;
         position: relative;
         top: -672px;
         left: 0;
         margin-bottom: -650px;
     }
 
     .tamanio{
         margin-bottom: -350px;
     }


    .menu-dish-oneline h5{
        font-size: 22px;
    }
    .menu-dish-price h3{
        color: var(--colorMain);
        font-size: 22px;
    }
    .dish-pique{
        width: 68%;
    }
    .dish-piqueE{
        width: 56.5%;
    }
    .dish-charque{
        width: 74%;
    }
    .dish-planchita{
        width: 74%;
    }
    .dish-picanteL{
        width: 63%;
    }
    .dish-picanteP{
        width: 66%;
    }
    .dish-picanteM{
        width: 68.7%;
    }
    .dish-lambreado{
        width: 62.5%;
    }
    .dish-picanteC{
        width: 64%;
    }
    .dish-chankaC{
        width: 63%;
    }
    .dish-pato{
        width: 71.5%;
    }
    .dish-patoD{
        width: 59.8%;
    }
}

@media (max-width:600px) {
    .menu-dish-txt{
        margin-bottom: -400px;
     }
 
     .menu-dish-txt-middle{
         display: block;
         position: relative;
         top: -884px;
         left: 0;
         margin-bottom: -700px;
     }
 
     .tamanio{
         margin-bottom: -350px;
     }
}

@media (max-width: 410px) {
    .menu-dish-txt{
       margin-bottom: -450px;
    }

    .menu-dish-txt-middle{
        display: block;
        position: relative;
        top: -720px;
        left: 0;
        margin-bottom: -700px;
    }

    .tamanio{
        margin-bottom: -350px;
    }

    .dish-description{
        font-family: var(--fuenteMain);
        font-size: 17px;
    }
    

    .menu-dish-price h3{
        color: var(--colorMain);
        font-size: 20px;
    }
    .dish-pique{
        width: 38%;
    }
    .dish-piqueE{
        width: 18%;
    }
    .dish-charque{
        width: 50%;
    }
    .dish-planchita{
        width: 50%;
    }
    .dish-picanteL{
        width: 29%;
    }
    .dish-picanteP{
        width: 34%;
    }
    .dish-picanteM{
        width: 39%;
    }
    .dish-lambreado{
        width: 28%;
    }
    .dish-picanteC{
        width: 30%;
    }
    .dish-chankaC{
        width: 29%;
    }
   
    .dish-pato{
        width: 44.5%;
    }
    .dish-patoD{
        width: 23%;
    }
}

.contenedor-dish{
    display: flex;
    justify-content: space-between;
}
.linea{
    border-bottom: 1px solid #999;
    width: 100%;
}